h1 {
  font-size: 2em;
  color: black;
  text-align: center;
}
h2 {
  font-size: 1.4em;
  color: blue;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: x-large;
}
h4 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}
h5 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  color: red;
  text-align: center;
}
